.songtitles{
    color:whitesmoke;
    width:300px;
    background-color: black;
    text-align: center;
    position: absolute;
    left:20%;
    }
    .plays,.pre,.next
    {
    cursor: pointer;
    }
    .buttons{
        position: relative;
        text-align: center;
      
      
    }
    .plays{
        border-radius: 30%;
    }
    .pre{
       
        position: absolute;
        right:360px;
        border-radius: 30%;
       
    }
    .next{
       
        position: absolute;
        left:360px;
        border-radius: 30%;
    }
    .seeks{
        width: 500px;height: 5px;
    background-color: whitesmoke;border-radius: 50px;
    cursor: pointer;display: flex;margin-left: 100px;
    }
    .fills
    {
        height: 5px;background-color: royalblue;border-radius: 20px;
    }
    .handles{
        width:8px ;height: 5px;background-color: royalblue;border-radius: 50%;
        margin-left: -5px;transform: scale(2);
    }
    .tim{
        color: whitesmoke;
        font-family:Coronetscript, cursive;
        position: absolute;
        top:102%;
        
        left: 15%;
    }
    .min{
        position: absolute;
        right:130px;
        cursor: pointer;
        border-radius: 30%;
    }
    .spe{
        position: absolute;
        right:80px;
        border-radius: 30%;
        
    }
    .add{
        position: absolute;
        right:30px;
        cursor: pointer;
        border-radius: 30%;
    }
    .pl{
        position: absolute;
        left:10px;
        cursor: pointer;
        border-radius: 30%;
    }
        